In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

23/05/12 15:35:06 WARN Utils: Your hostname, pclab058 resolves to a loopback address: 127.0.1.1; using 147.96.133.21 instead (on interface eno1)
23/05/12 15:35:06 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/usr/local/lib/python3.10/dist-packages/pyspark/jars/spark-unsafe_2.12-3.2.1.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/05/12 15:35:07 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/05/12 15:35:08 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [2]:
data_path = "../sample_10e3.json"

In [3]:
df = spark.read.json(data_path)

In [4]:
df

DataFrame[_id: struct<$oid:string>, ageRange: bigint, idplug_base: bigint, idplug_station: bigint, idunplug_base: bigint, idunplug_station: bigint, travel_time: bigint, unplug_hourTime: struct<$date:string>, user_day_code: string, user_type: bigint, zip_code: string]

In [6]:
df.show()

+--------------------+--------+-----------+--------------+-------------+----------------+-----------+--------------------+--------------------+---------+--------+
|                 _id|ageRange|idplug_base|idplug_station|idunplug_base|idunplug_station|travel_time|     unplug_hourTime|       user_day_code|user_type|zip_code|
+--------------------+--------+-----------+--------------+-------------+----------------+-----------+--------------------+--------------------+---------+--------+
|{5cf83b752f3843a0...|       0|         21|            66|            8|              90|        219|{2019-06-01T00:00...|e4d55deb9ac172a8d...|        1|        |
|{5cf83b762f3843a0...|       4|         19|           136|           19|              71|        359|{2019-06-01T00:00...|8a0c4123e924a50a9...|        1|   28039|
|{5cf83b762f3843a0...|       4|         17|            38|            7|              39|        375|{2019-06-01T00:00...|a6a9c1f74a6849600...|        1|   28013|
|{5cf83b762f3843a0...|       5|          4|            90|           21|              66|        264|{2019-06-01T00:00...|5706c0bd494acc022...|        1|   28009|
|{5cf83b762f3843a0...|       4|          3|           166|           13|             152|        367|{2019-06-01T00:00...|eb1b6d32bd4add5d5...|        1|   28006|
|{5cf83b762f3843a0...|       5|         14|            53|            4|              55|        174|{2019-06-01T00:00...|c2905f6038aa9523d...|        1|   28907|
|{5cf83b762f3843a0...|       0|          2|           129|            6|             133|        308|{2019-06-01T00:00...|f94420744ea060ac4...|        1|        |
|{5cf83b762f3843a0...|       4|         21|           169|            3|             153|        462|{2019-06-01T00:00...|e75471af2ea032a32...|        1|   28003|
|{5cf83b762f3843a0...|       0|         24|           129|           14|              44|        482|{2019-06-01T00:00...|c0d73ee753773a3bf...|        1|        |
|{5cf83b762f3843a0...|       4|         11|           133|           21|              85|        480|{2019-06-01T00:00...|47ecd557f21ca7aee...|        1|   28004|
|{5cf83b762f3843a0...|       5|          2|            83|           18|              31|        546|{2019-06-01T00:00...|87ccc3f59b45ef261...|        1|   28007|
|{5cf83b762f3843a0...|       0|          7|            53|           15|              38|        519|{2019-06-01T00:00...|05bd8e0842cbfadb8...|        1|        |
|{5cf83b762f3843a0...|       4|         24|            13|           17|             118|        374|{2019-06-01T00:00...|812870450df33ac5c...|        1|   39316|
|{5cf83b762f3843a0...|       4|         13|            10|            9|              27|        188|{2019-06-01T00:00...|c828f824a86378bf0...|        1|   28012|
|{5cf83b762f3843a0...|       4|          2|            74|           20|              90|        133|{2019-06-01T00:00...|538fc94c0d298f7ee...|        1|   28045|
|{5cf83b762f3843a0...|       0|         17|            54|           21|             100|        514|{2019-06-01T00:00...|53a9f79ec4c6d60c2...|        1|        |
|{5cf83b762f3843a0...|       4|         12|            83|            5|              67|        517|{2019-06-01T00:00...|b27886fecd2db0f3c...|        1|   28008|
|{5cf83b762f3843a0...|       4|          5|            83|            3|              67|        525|{2019-06-01T00:00...|eee03ef92db2fe559...|        1|   28019|
|{5cf83b762f3843a0...|       0|          9|           163|            5|              63|        351|{2019-06-01T00:00...|b61ef9ebd0342c431...|        1|        |
|{5cf83b762f3843a0...|       0|         22|            84|            7|              42|        483|{2019-06-01T00:00...|01bf069d0732b2b01...|        1|        |
+--------------------+--------+-----------+--------------+-------------+----------------+-----------+--------------------+--------------------+---------+--------+
only showing top 20 rows

In [8]:
df.columns

['_id',
 'ageRange',
 'idplug_base',
 'idplug_station',
 'idunplug_base',
 'idunplug_station',
 'travel_time',
 'unplug_hourTime',
 'user_day_code',
 'user_type',
 'zip_code']

In [7]:
#1 Contar cada tipo
df.groupBy('user_type').count().show()

+---------+-----+
|user_type|count|
+---------+-----+
|        1|  954|
|        3|   36|
|        2|   10|
+---------+-----+

In [9]:
#1 Contar cada tipo
df.groupBy('ageRange').count().show()

+--------+-----+
|ageRange|count|
+--------+-----+
|       0|  491|
|       6|    5|
|       5|  131|
|       1|   19|
|       3|   75|
|       2|   12|
|       4|  267|
+--------+-----+

In [10]:
#1 Contar cada tipo
df.groupBy('idplug_base').count().show()

+-----------+-----+
|idplug_base|count|
+-----------+-----+
|         26|    9|
|         19|   26|
|         22|   38|
|          7|   45|
|         25|    6|
|          6|   33|
|          9|   49|
|         27|    5|
|         17|   37|
|          5|   50|
|          1|   49|
|         10|   31|
|          3|   54|
|         12|   39|
|          8|   44|
|         11|   39|
|          2|   64|
|          4|   49|
|         13|   27|
|         18|   29|
+-----------+-----+
only showing top 20 rows